
body {
  background-image: url(../images/3000x2000.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.intro {
    color: rgb(82, 82, 82);
    font-family: Ariaal, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    text-transform: none;
}

.test-div {
    width: 100px;
    height: 100px;
    background-color: #507450;
    margin: 200px 0 0 200px
}
